<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% if zine_id %}
    {{ zine_id }} Viewer
    {% else %}
    Zine Viewer
    {% endif %}
  </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <style>
    #prev-button::before {
      content: "️{{ before_emoji }}";
    }

    #next-button::before {
      content: "️{{ after_emoji }}";
    }

    .zine-item:before {
      content: "️{{ before_emoji }}";
    }

    .zine-item:after {
      content: "️{{ after_emoji }}";
    }
  </style>
</head>

<body>
  {% block content %}
  {% endblock %}
</body>

</html>
